{"openapi": "3.1.0", "info": {"title": "DSA VLOP Transparency Query API (async jobs)", "description": "Query the aggregated EU Digital Services Act VLOP transparency reports (tables 3\u201311) with structured parameters (no SQL). Pick a `table` (GET /tables), describe filters/group_by/aggregates, get a job id, then poll for results as JSON or CSV. Query syntax follows the TikTok Research API: boolean and/or/not clauses of {operation, field_name, field_values}.", "version": "0.5.0"}, "servers": [{"url": "https://transparency.kieranmaynard.com", "description": "Public deployment"}, {"url": "/", "description": "This origin"}, {"url": "http://localhost:8000", "description": "Local development"}], "paths": {"/static/vendor/{filename}": {"get": {"summary": "Vendored Asset", "description": "Serve a vendored third-party asset (e.g. Chart.js) from static/vendor.", "operationId": "vendored_asset_static_vendor__filename__get", "parameters": [{"name": "filename", "in": "path", "required": true, "schema": {"type": "string", "title": "Filename"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/": {"get": {"summary": "Dashboard Page", "description": "Serve the public VLOP transparency dashboard (reads GET /api/overview).", "operationId": "dashboard_page__get", "responses": {"200": {"description": "Successful Response", "content": {"text/html": {"schema": {"type": "string"}}}}}}}, "/portal": {"get": {"summary": "Portal Page", "description": "Serve the researcher portal single-page app.", "operationId": "portal_page_portal_get", "responses": {"200": {"description": "Successful Response", "content": {"text/html": {"schema": {"type": "string"}}}}}}}, "/healthz": {"get": {"summary": "Health", "operationId": "health_healthz_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"additionalProperties": {"type": "string"}, "type": "object", "title": "Response Health Healthz Get"}}}}}}}, "/version": {"get": {"summary": "Version", "description": "The deployed build (commit SHA on Cloud Run, else \"dev\") + app version.", "operationId": "version_version_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"additionalProperties": {"type": "string"}, "type": "object", "title": "Response Version Version Get"}}}}}}}, "/metrics": {"get": {"summary": "Metrics", "description": "Prometheus metrics. No auth \u2014 scrape over an internal network only.", "operationId": "metrics_metrics_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}}}}, "/readyz": {"get": {"summary": "Ready", "operationId": "ready_readyz_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"additionalProperties": {"type": "string"}, "type": "object", "title": "Response Ready Readyz Get"}}}}}}}, "/api": {"get": {"summary": "Root", "operationId": "root_api_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"additionalProperties": true, "type": "object", "title": "Response Root Api Get"}}}}}}}, "/api/overview": {"get": {"summary": "Overview", "description": "Public headline aggregates for the dashboard \u2014 no auth. Memoised: the\nread-only DB is static, so we compute the fixed queries once (no user input\nreaches SQL) and serve from memory thereafter.", "operationId": "overview_api_overview_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"additionalProperties": true, "type": "object", "title": "Response Overview Api Overview Get"}}}}}}}, "/api/explore/options": {"get": {"summary": "Explore Options", "description": "Public metadata for the dashboard's query builder: each table's queryable\ndimensions and measures, from the fixed registry (no DB, no secrets).", "operationId": "explore_options_api_explore_options_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"additionalProperties": true, "type": "object", "title": "Response Explore Options Api Explore Options Get"}}}}}}}, "/api/explore": {"post": {"summary": "Explore", "description": "Public, synchronous, bounded query for the interactive dashboard.\n\nSame validated structured-query model as POST /api/query (no SQL is ever\naccepted; every field/operation is checked against the table registry and all\nvalues are bound), but it runs inline and hard-caps the row count \u2014 no auth,\nno job, no webhook. IP-rate-limited so the open endpoint can't be hammered.", "operationId": "explore_api_explore_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/QueryRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"additionalProperties": true, "type": "object", "title": "Response Explore Api Explore Post"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/ask": {"post": {"summary": "Ask", "description": "Authenticated natural-language query: an LLM translates the question into the\n*structured* QueryRequest (never SQL), which is then run through the exact same\ncompile_query trust boundary as /api/explore. The model only proposes \u2014 a bad\nfield is a 400, and no model-authored SQL can reach the database.\n\nRequires an API key (sign in to get one) \u2014 LLM calls cost money, so this is\ngated and rate-limited per key. Disabled (503) unless ANTHROPIC_API_KEY is set.", "operationId": "ask_api_ask_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/AskRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"additionalProperties": true, "type": "object", "title": "Response Ask Api Ask Post"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"APIKeyHeader": []}]}}, "/api/portal/register": {"post": {"summary": "Portal Register", "description": "Issue a demo API key for a researcher (no real authentication).", "operationId": "portal_register_api_portal_register_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/RegisterRequest"}}}, "required": true}, "responses": {"201": {"description": "Successful Response", "content": {"application/json": {"schema": {"additionalProperties": true, "type": "object", "title": "Response Portal Register Api Portal Register Post"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/portal/key": {"delete": {"summary": "Revoke Key", "description": "Revoke the calling key/session (configured demo keys can't be revoked).", "operationId": "revoke_key_api_portal_key_delete", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"additionalProperties": true, "type": "object", "title": "Response Revoke Key Api Portal Key Delete"}}}}}, "security": [{"APIKeyHeader": []}]}}, "/api/auth/google": {"post": {"summary": "Auth Google", "operationId": "auth_google_api_auth_google_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/GoogleAuthRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"additionalProperties": true, "type": "object", "title": "Response Auth Google Api Auth Google Post"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/admin/registrations": {"get": {"summary": "List Registrations", "description": "List researcher registrations, optionally filtered by status.", "operationId": "list_registrations_api_admin_registrations_get", "security": [{"APIKeyHeader": []}], "parameters": [{"name": "status", "in": "query", "required": false, "schema": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Status"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"type": "object", "additionalProperties": true, "title": "Response List Registrations Api Admin Registrations Get"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/admin/registrations/{email}/approve": {"post": {"summary": "Approve Registration", "description": "Restore (or pre-create) an approved account \u2014 e.g. to undo a revoke.", "operationId": "approve_registration_api_admin_registrations__email__approve_post", "security": [{"APIKeyHeader": []}], "parameters": [{"name": "email", "in": "path", "required": true, "schema": {"type": "string", "title": "Email"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"type": "object", "additionalProperties": true, "title": "Response Approve Registration Api Admin Registrations  Email  Approve Post"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/admin/registrations/{email}/revoke": {"post": {"summary": "Revoke Registration", "description": "Revoke an account's access (its live sessions stop working immediately).", "operationId": "revoke_registration_api_admin_registrations__email__revoke_post", "security": [{"APIKeyHeader": []}], "parameters": [{"name": "email", "in": "path", "required": true, "schema": {"type": "string", "title": "Email"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"type": "object", "additionalProperties": true, "title": "Response Revoke Registration Api Admin Registrations  Email  Revoke Post"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/fields": {"get": {"summary": "List Fields", "description": "Fields for a report table (`?table=\u2026`), or an overview of all tables.", "operationId": "list_fields_api_fields_get", "security": [{"APIKeyHeader": []}], "parameters": [{"name": "table", "in": "query", "required": false, "schema": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Table"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"type": "object", "additionalProperties": true, "title": "Response List Fields Api Fields Get"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/tables": {"get": {"summary": "List Tables", "description": "The queryable DSA report tables and the dataset's reporting period.", "operationId": "list_tables_api_tables_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"additionalProperties": true, "type": "object", "title": "Response List Tables Api Tables Get"}}}}}, "security": [{"APIKeyHeader": []}]}}, "/api/schema/{table}": {"get": {"summary": "Table Schema", "description": "The queryable field registry (dimensions + measures) for a report table.", "operationId": "table_schema_api_schema__table__get", "security": [{"APIKeyHeader": []}], "parameters": [{"name": "table", "in": "path", "required": true, "schema": {"type": "string", "title": "Table"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"type": "object", "additionalProperties": true, "title": "Response Table Schema Api Schema  Table  Get"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/query": {"post": {"summary": "Submit Query", "operationId": "submit_query_api_query_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/QueryRequest"}}}, "required": true}, "responses": {"202": {"description": "Successful Response", "content": {"application/json": {"schema": {"additionalProperties": true, "type": "object", "title": "Response Submit Query Api Query Post"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"APIKeyHeader": []}]}}, "/api/jobs": {"get": {"summary": "List Jobs", "operationId": "list_jobs_api_jobs_get", "security": [{"APIKeyHeader": []}], "parameters": [{"name": "limit", "in": "query", "required": false, "schema": {"type": "integer", "maximum": 500, "minimum": 1, "default": 50, "title": "Limit"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"type": "object", "additionalProperties": true, "title": "Response List Jobs Api Jobs Get"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/jobs/{job_id}": {"get": {"summary": "Get Job", "operationId": "get_job_api_jobs__job_id__get", "security": [{"APIKeyHeader": []}], "parameters": [{"name": "job_id", "in": "path", "required": true, "schema": {"type": "string", "title": "Job Id"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"type": "object", "additionalProperties": true, "title": "Response Get Job Api Jobs  Job Id  Get"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}, "delete": {"summary": "Cancel Job", "operationId": "cancel_job_api_jobs__job_id__delete", "security": [{"APIKeyHeader": []}], "parameters": [{"name": "job_id", "in": "path", "required": true, "schema": {"type": "string", "title": "Job Id"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"type": "object", "additionalProperties": true, "title": "Response Cancel Job Api Jobs  Job Id  Delete"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/jobs/{job_id}/result": {"get": {"summary": "Get Job Result", "operationId": "get_job_result_api_jobs__job_id__result_get", "security": [{"APIKeyHeader": []}], "parameters": [{"name": "job_id", "in": "path", "required": true, "schema": {"type": "string", "title": "Job Id"}}, {"name": "format", "in": "query", "required": false, "schema": {"enum": ["json", "csv"], "type": "string", "default": "json", "title": "Format"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/jobs/{job_id}/download": {"get": {"summary": "Download Job Result", "description": "Secure download via a signed, expiring URL \u2014 no API key needed.\n\nThe link is a capability: the HMAC signature authorises this exact job +\nformat + expiry, so possession of a valid, unexpired URL is sufficient.", "operationId": "download_job_result_api_jobs__job_id__download_get", "parameters": [{"name": "job_id", "in": "path", "required": true, "schema": {"type": "string", "title": "Job Id"}}, {"name": "expires", "in": "query", "required": true, "schema": {"type": "integer", "title": "Expires"}}, {"name": "sig", "in": "query", "required": true, "schema": {"type": "string", "title": "Sig"}}, {"name": "format", "in": "query", "required": false, "schema": {"enum": ["json", "csv"], "type": "string", "default": "json", "title": "Format"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}}, "components": {"schemas": {"Aggregate": {"properties": {"function": {"type": "string", "enum": ["SUM", "COUNT", "AVG", "MIN", "MAX"], "title": "Function"}, "field_name": {"type": "string", "title": "Field Name", "description": "A measure field, or '*' for COUNT.", "default": "*"}, "alias": {"type": "string", "title": "Alias", "description": "Output column name (letters, digits, underscore)."}}, "type": "object", "required": ["function", "alias"], "title": "Aggregate", "description": "An aggregate column, e.g. {function: SUM, field_name: notices, alias: notices}."}, "AskRequest": {"properties": {"question": {"type": "string", "maxLength": 500, "minLength": 1, "title": "Question", "description": "A natural-language question about the DSA VLOP data."}}, "type": "object", "required": ["question"], "title": "AskRequest"}, "BooleanQuery": {"properties": {"and": {"items": {"$ref": "#/components/schemas/Condition"}, "type": "array", "maxItems": 50, "title": "And"}, "or": {"items": {"$ref": "#/components/schemas/Condition"}, "type": "array", "maxItems": 50, "title": "Or"}, "not": {"items": {"$ref": "#/components/schemas/Condition"}, "type": "array", "maxItems": 50, "title": "Not"}}, "type": "object", "title": "BooleanQuery", "description": "Boolean combination of conditions, matching the TikTok Research API shape."}, "Condition": {"properties": {"operation": {"type": "string", "enum": ["EQ", "IN", "GT", "GTE", "LT", "LTE"], "title": "Operation", "description": "EQ, IN, GT, GTE, LT, LTE."}, "field_name": {"type": "string", "title": "Field Name", "description": "A queryable field; see GET /fields."}, "field_values": {"items": {"anyOf": [{"type": "string"}, {"type": "integer"}, {"type": "number"}]}, "type": "array", "maxItems": 100, "minItems": 1, "title": "Field Values", "description": "One or more values (max 100); always bound as parameters."}}, "type": "object", "required": ["operation", "field_name", "field_values"], "title": "Condition", "description": "A single filter, e.g. {operation: IN, field_name: service_name, field_values: [YouTube, TikTok]}."}, "DerivedColumn": {"properties": {"alias": {"type": "string", "title": "Alias", "description": "Output column name (letters, digits, underscore)."}, "expr": {"type": "string", "maxLength": 200, "minLength": 1, "title": "Expr", "description": "Arithmetic (+ - * / and parentheses) over `leg.alias` references and numeric literals, e.g. '100 * appeals.n / actions.a'. Division is NULL-safe (x/0 \u2192 null)."}}, "type": "object", "required": ["alias", "expr"], "title": "DerivedColumn", "description": "A computed output column over leg aggregates, e.g. a ratio."}, "GoogleAuthRequest": {"properties": {"credential": {"type": "string", "maxLength": 8192, "minLength": 1, "title": "Credential", "description": "Google ID token (JWT) from Google Identity Services / FedCM."}}, "type": "object", "required": ["credential"], "title": "GoogleAuthRequest"}, "HTTPValidationError": {"properties": {"detail": {"items": {"$ref": "#/components/schemas/ValidationError"}, "type": "array", "title": "Detail"}}, "type": "object", "title": "HTTPValidationError"}, "Leg": {"properties": {"table": {"type": "string", "title": "Table", "description": "DSA report table this leg queries (see GET /tables)."}, "query": {"$ref": "#/components/schemas/BooleanQuery", "description": "Filters for this leg only."}, "aggregates": {"items": {"$ref": "#/components/schemas/Aggregate"}, "type": "array", "maxItems": 50, "minItems": 1, "title": "Aggregates", "description": "Aggregate columns; aliases must be unique across all legs."}}, "type": "object", "required": ["table", "aggregates"], "title": "Leg", "description": "One sub-query of a composite query: filters + aggregates over a single\ntable. Every leg is implicitly grouped by the composite's `join_on` keys, so\nall legs aggregate to the same grain before being merged (full-outer)."}, "QueryRequest": {"properties": {"table": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Table", "description": "Which DSA report table to query (see GET /tables)."}, "query": {"$ref": "#/components/schemas/BooleanQuery", "description": "Filters."}, "fields": {"anyOf": [{"items": {"type": "string"}, "type": "array", "maxItems": 50}, {"type": "null"}], "title": "Fields", "description": "Columns to return for a raw (non-aggregated) query. Defaults to all fields."}, "group_by": {"items": {"type": "string"}, "type": "array", "maxItems": 50, "title": "Group By", "description": "Dimension fields to group by."}, "aggregates": {"items": {"$ref": "#/components/schemas/Aggregate"}, "type": "array", "maxItems": 50, "title": "Aggregates", "description": "Aggregate columns."}, "sort": {"items": {"$ref": "#/components/schemas/Sort"}, "type": "array", "maxItems": 50, "title": "Sort", "description": "Result ordering."}, "max_count": {"type": "integer", "minimum": 1.0, "title": "Max Count", "description": "Row limit (capped at ROW_LIMIT).", "default": 100}, "callback_url": {"anyOf": [{"type": "string", "maxLength": 2048}, {"type": "null"}], "title": "Callback Url", "description": "Optional http(s) webhook POSTed (HMAC-signed) when the job finishes."}, "legs": {"anyOf": [{"additionalProperties": {"$ref": "#/components/schemas/Leg"}, "type": "object"}, {"type": "null"}], "title": "Legs", "description": "Composite query: named single-table sub-queries to merge (2\u20134; leg names are letters/digits/underscores)."}, "join_on": {"items": {"type": "string"}, "type": "array", "maxItems": 4, "title": "Join On", "description": "Dimensions to merge legs on; must be a dimension of every leg's table."}, "derived": {"items": {"$ref": "#/components/schemas/DerivedColumn"}, "type": "array", "maxItems": 10, "title": "Derived", "description": "Computed columns over leg aggregates (composite queries only)."}, "having": {"$ref": "#/components/schemas/BooleanQuery", "description": "Post-merge filter on output columns (join_on dims, leg aggregate aliases, derived aliases). Composite queries only."}}, "type": "object", "title": "QueryRequest", "description": "Structured query. No SQL is accepted.\n\nTwo shapes share this model:\n- **Single-table** (the default): set `table` plus `query`/`fields`/`group_by`/\n  `aggregates`.\n- **Composite** (cross-table): set `legs` + `join_on` instead \u2014 each leg is a\n  single-table aggregate sub-query; legs are merged full-outer on `join_on`\n  and `derived` columns compute arithmetic (e.g. ratios) across them."}, "RegisterRequest": {"properties": {"name": {"type": "string", "maxLength": 120, "minLength": 1, "title": "Name", "description": "Researcher's name."}, "email": {"type": "string", "maxLength": 254, "minLength": 3, "title": "Email", "description": "Contact email."}}, "type": "object", "required": ["name", "email"], "title": "RegisterRequest"}, "Sort": {"properties": {"field_name": {"type": "string", "title": "Field Name", "description": "An output column (a group_by field or aggregate alias)."}, "order": {"type": "string", "enum": ["asc", "desc"], "title": "Order", "default": "desc"}}, "type": "object", "required": ["field_name"], "title": "Sort"}, "ValidationError": {"properties": {"loc": {"items": {"anyOf": [{"type": "string"}, {"type": "integer"}]}, "type": "array", "title": "Location"}, "msg": {"type": "string", "title": "Message"}, "type": {"type": "string", "title": "Error Type"}}, "type": "object", "required": ["loc", "msg", "type"], "title": "ValidationError"}}, "securitySchemes": {"APIKeyHeader": {"type": "apiKey", "in": "header", "name": "X-API-Key"}}}}